/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*mano kodas*/
body { 
	#icon-bar {
		position: fixed;
		top: 60%;
		right: 0.5%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		border-radius: 10px;
		background-color: white;
	}
	#icon-bar a{
		display: block;
		text-align: center;
		padding: 13px;
		transition: all 0.3s ease;
		color:#666666;
		font-size: 23px;
	}
	#icon-bar a:hover {
		background-color: rgba(6, 39, 6, 0.9);
		color: white;
	}
	#facebook, .insta, .trip, .linkedin {
		color: black;
	}
	@media screen and (max-width: 471px) {
		#icon-bar a {
			font-size: 8 px;
			padding: 5px;
		}
	}
	#myBtn {
		display: none;
		position: fixed;
		bottom: 12px;
		right: 0.5%;
		z-index: 99;
		font-size: 18px;
		border: 1.5px solid;
		border-color: beige;
		outline: none;
		background-color: rgb(110, 107, 107);
		color: white;
		cursor: pointer;
		padding: 13px;
		border-radius: 10px;
	}
	@media screen and (max-width: 480px) {
		#myBtn {
			font-size: 12px;
			padding: 10px;
		}
	}
}
	#home {
		background: url(../img/newmain.JPG);
		height: 100vh;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		header {
			nav {
				display: block;
				width: 100%;
				margin: 0 auto;
				position: fixed;
				padding: 0.8vh;
				background-color: rgb(6, 37, 6);
				.mynav {
					overflow: hidden;
					width: 98%;
					li {
						font-size: 3vh;
						float: left;
						display: block;
						text-align: center;
						width: 10%;
						font-family: 'Tinos', serif;
						color: rgb(255,255,255);
						font-weight: bold;
						padding: 1.5vh;
					} 
					.icon {
						display: none;
					}
					li a{
						text-decoration: none;
						color: white;
					}
					li a:hover {
						background-color: beige;
						color: rgb(6, 37, 6);
						padding: 0.7vh;
					}
				} 
				@media screen and (max-width: 1100px) {
					.mynav li {
						display: none;
					}
					.mynav .icon {
						float: right;
						display: block;
					}
				}
				@media screen and (max-width: 1100px) {
					.mynav.responsive {
						position: relative;
					}
					.mynav.responsive .icon {
						position: absolute;
						right: 0;
						top: 0;
					}
					.mynav.responsive li {
						float: none;
						display: block;
						text-align: center;
					}
				}
			}	
		}
		h1 {
			font-family: 'Lato', sans-serif;
			font-size: 20vh;
			color: white;
			padding: 15vh 0 4vh 0;
			display: block;
			margin: 0 auto;
			text-align: center;
			padding: 11% 0 0 0;
		}
		@media screen and (max-width: 995px) {
			h1 {
				font-size: 15vh;
			}
		}
		@media screen and (max-width: 880px) {
			h1 {
				font-size: 10vh;
				padding: 25%;
			}
		}
		.myheader2 {
			font-family: 'Lato', sans-serif;
			font-size: 6vh;
			color: white;
			padding: 10.5vh 0 0 0;
			display: block;
			margin: 0 auto;
			text-align: center;
			img {
				width: 8%;
				border-radius: 50%;
			}
		}	
		@media screen and (max-width: 995px) {
			.myheader2 {
				font-size: 4.5vh;
			}
		}
		@media screen and (max-width: 880px) {
			.myheader2 {
				font-size: 4vh;
			}
		}
	}	
	#about {
		background: url(../img/newmain.JPG);
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		display: block;
		margin: 0 auto;
		font-size: 0;
		.aboutus {
			display: block;
			margin: 0 auto;
			padding: 1.5%;
			background-color: rgb(247, 245, 245);
			width: 86%;
			.idea {
				display: block;
				margin: 0 auto;
				text-align: center;
				span {
					color: rgba(6, 39, 6, 0.9);
					font-family: 'Lato', sans-serif;
					font-weight: bold;
					font-size: 50px;
					text-align: left;
				}
				@media screen and (max-width: 743px) {
					span {
						font-size: 25px;
					}
				}
				p {
					display: block;
					margin: 0 auto;
					font-size: 25px;
					text-align: justify;
					color: black;
					font-family: 'Tinos', serif;
					line-height: 1.5;
					padding: 3%;
					width: 80%;
				}
				@media screen and (max-width: 743px) {
					p {
						font-size: 15px;
						width: 96%;
					}
				}
			}
			.dash {
				display: block;
				margin: 0 auto;
				border-bottom: 1.5px solid;
				color: rgb(6, 39, 6);
				width: 50%;
				margin-bottom: 4%;
			}
		}
		.slideshow-container {
			display: block;
			margin: 0 auto;
			padding: 1.5%;
			background-color: rgb(247, 245, 245);
			width: 86%;
			.mySlides {
				display: block;
				margin: 0 auto;
				text-align: center;
				background-color: rgb(247, 245, 245);
				width: 90%;
				img {
					width: 35%;
					height: 25%;
					display: inline-block;
					padding: 2%;
				}
				q {
					width: 50%;
					font-family: 'Tinos', serif;
					line-height: 1.5;
					color: black;
					font-size: 25px;
					margin-bottom: 30px;
				}
				.customer {
					font-family: 'Tinos', serif;
					color: rgba(6, 39, 6, 0.9);;
					font-size: 20px;
					margin-bottom: 3%;
				}	
				@media screen and (max-width: 743px) {
					q, .customer {
						font-size: 15px;
					}
				}	
			}
			.dot-container {
				display: block;
				margin: 0 auto;
				text-align: center;
				padding: 20px;
				background: #ddd;
				width: 80%;
				margin-bottom: 4%;
				.dot {
					cursor: pointer;
					height: 15px;
					width: 15px;
					margin: 0 2px;
					background-color: #bbb;
					border-radius: 50%;
					display: inline-block;
					transition: background-color 0.2s ease;
				}
				.active, .dot:hover {
					background-color: rgb(6, 39, 6);
				}  
			}	  
		}
		.story {
			display: block;
			margin: 0 auto;
			background-color: rgb(247, 245, 245);
			width: 87%;
			padding: 1%;
			.dash2 {
				display: block;
				margin: 0 auto;
				border-bottom: 1.5px solid;
				color: rgb(6, 39, 6);
				width: 50%;
				margin-bottom: 4%;
			}
			.story1 {
				display: block;
				margin: 0 auto;
				width: 80%;
				padding: 3.5%;
				overflow: auto;
				margin-bottom: 6%;
				h1 {
					font-family: 'Lato', sans-serif;
					color: rgb(6, 39, 6);
					font-size: 40px;
					font-weight: bold;
					margin-bottom: 15px;
					padding: 1%;
				}
				@media screen and (max-width: 743px) {
					h1 {
						font-size: 25px;
					}
				}
				p {
					font-family: 'Tinos', serif;
					color: black;
					font-size: 20px;
					line-height: 1.5;
					text-indent: 25px;
					text-align: justify;
					img {
						width: 49%;
						height: 55%;
						float: left;
						padding: 0 3.5% 0 3.5%;	
					}
					a {
						color: rgb(6, 39, 6);
						font-weight: bold;
						margin-top: 10px;
					}
				}
				@media screen and (max-width: 743px) {
					p {
						font-size: 14px;
					}
				}	
			}
		}
		.gallery1 {
			width: 89%;
			display: block;
			margin: 0 auto;
			background-color: rgb(247, 245, 245);
			h1 {
				font-size: 60px;
				padding-top: 2%; 
				color: rgb(6, 39, 6);
				font-weight: bold;
				text-align: center;
				font-family: 'Lato', sans-serif;
			}
			@media screen and (max-width: 743px) {
				h1 {
					font-size: 30px;
				}
			}
			.photos {
				display: block;
				margin: 0 auto; 
				font-size: 0;		
				.photos1 {
					display: block;
					margin: 0 auto;
					padding: 2%;
					width: 97%;
					margin-top: 5%;
					background-color: rgb(223, 223, 223);
					box-sizing: border-box;
					img {
						display: inline-block;
						width: 140px;
						height: 130px;
						padding: 0.3%;
						margin: 1.3%;
						box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
					}
					@media screen and (max-width: 800px) {
						img {
							width: 200px;
							margin: 0.6%;
						}
					}
					@media screen and (max-width: 737px) {
						img {
							width: 250px;
							margin: 0.8%;
						}
					}
					@media screen and (max-width: 690px) {
						img {
							width: 260px;
							height: 200px;
							padding: 1.5%;
							display: block;
							margin: 0 auto;
							margin-bottom: 6%;
						}
					}
				}
			}
			p {
				font-size: 25px;
				font-family: 'Tinos', serif;
				color: black;
				text-align: center;
				margin: 3% 0 30% 0;
				padding: 6%;
				a {
					color:white;
					background-color: rgb(6, 39, 6);
					padding: 0.5%;
					border-radius: 6px;
					margin-left: 10px;
				}
			}
			@media screen and (max-width: 743px) {
				p {
					font-size: 18px;
				}
			}
		}  
	}
	#contact {
			display: block;
			margin: 0 auto;
			font-size: 0;
			background: url(../img/newmain.JPG);
			background-repeat: no-repeat;
			background-size: cover;
			background-attachment: fixed;
		.contactpage {
			display: block;
			margin: 0 auto;
			width: 87%;
			padding: 1%;
			background-color: rgb(247, 245, 245);
			.form {
				display: block;
				margin: 0 auto;
				box-sizing: border-box;
				background: url(../img/contact.JPG);
				background-repeat: no-repeat;
				background-size: cover;
				.form1a {
					display: block;
					margin: 0 auto;
					width: 47%;
					background-color: rgba(247, 245, 245, 0.7);
					h1 {
						font-size: 60px;
						color: rgb(6, 39, 6);
						text-align: center;
						font-family: 'Lato', sans-serif;
						padding: 8% 0 8% 2%;
					}
					p {
						font-size: 25px;
						color: black;
						font-family: 'Tinos', serif;
						text-align: justify;
						text-indent: 25px;
						width: 90%;
						line-height: 1.5;
						margin-top: 20px;
						padding: 4%;
					}
					@media screen and (max-width: 960px) {
						h1 {
							font-size: 40px;
						}
						p {
							font-size: 20px;
							padding: 2%;
						}
					}
					@media screen and (max-width: 525px) {
						h1 {
							font-size: 25px;
						}
						p {
							font-size: 15px;
						}
					}	
				}
				@media screen and (max-width: 787px) {
					.form1a {
						width: 70%;
						
					}
				}
			}
		}
		.form1{
			width: 85%;
			height: 60%;
			display: block;
			margin: 0 auto;
			color: rgba (12, 12, 12, 0.3);
			padding: 25px;
			background-color: rgb(247, 245, 245);
			h1 {
				font-size: 60px;
				font-family: 'Lato', sans-serif;
				color: rgb(6, 39, 6);
				text-align: center;
				margin: 3% 0 3% 0;
			}
			.infosite1 {
				display: block;
				margin: 0 auto; 	
				padding: 50px;
				.infosite {
					display: inline-block; 
					width: 26%;
					margin: 3.5%;
					box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
					vertical-align: top;
					img {
						width: 100%;
					}
					h2 {
						display: block;
						margin: 0 auto; 
						font-size: 20px;
						font-weight: bold;
						color: rgb(6, 39, 6);
						text-align: center;
						line-height: 1.5;
					}
					p {
						display: block;
						margin: 0 auto; 
						text-align: center;
						font-size: 15px;
						color: black;
						width: 143px;
						padding: 15px 0 10px 0;
						line-height: 1.5;
					}	
				}
				@media screen and (max-width: 912px) {
					.infosite {
						display: block;
						margin: 0 auto;
						width: 80%;
						margin-top: 5%;
					}
				}
				@media screen and (max-width: 500px) {
					.infosite {
						display: block;
						margin: 0 auto;
						width: 100%;
						margin-top: 6%;
					}
				}
			}
			.formname{
				padding: 5%;
				width: 72%;
				display: block;
				margin: 0 auto;
				border: 1px solid rgb(185, 184, 184);
				background-color: rgb(223, 223, 223);
				border-radius: 4px;
				.name, .email, .subject{
					display: block;
					margin: 0 auto;
					width: 88%;
					border-radius: 4px;	
					padding: 2%;
					margin-top: 4%;
					text-decoration: none;
					border: none;
				}
				.message{
					display: block;
					margin: 0 auto;
					width: 88%;
					margin-top: 4%;
					height: 110px;
					padding: 2%;
					border-radius: 4px;
					text-decoration: none;
					border: none;	
				}
				.mybtn{
					width: 80%;
					display: block;
					margin: 0 auto;
					font-weight: bold;
					padding: 2%;
					border-radius: 4px;
					text-decoration: none;
					border: none;
					cursor: pointer;
					margin-top: 4%;
					background-color:white;
				}
				.mybtn:hover {
					background-color: rgb(6, 39, 6);
					border-color: none;
					border: none;
					color: beige;
				}
			}
			@media screen and (max-width: 960px) {
				h1 {
					font-size: 40px;
				}
			}
			@media screen and (max-width: 525px) {
				h1 {
					font-size: 25px;
				}
			}
		}
	}			
	#footer {	
		display: block;
		margin: 0 auto;
		font-size: 0;
		background-color: rgb(6, 37, 6);
		height: 20%;	
		padding: 10px;
		.bottom {
			display: block;
			padding: 10px;
			margin: 0 auto;
			font-size: 0;
			.form1 {
				display: block;
				margin: 0 auto;
				padding: 1px;
				h1 {
					font-size: 25px;
					color: white;
					margin-top: 5px;
					text-align: center;
					img {
						width: 6%;
						height: 6%;
						border-radius: 50%;
					}
				}
				p {
					font-size: 17px;
					color: beige;
					margin-bottom: 20px;
					text-align: center;
				}
				.email{
					width: 40%;
					display: block;
					margin: 0 auto;
					padding: 8px;
					border: none;
					text-decoration: none;
					border-radius: 3px;
					font-size: 15px;
					border-bottom:1px solid white;
					margin-top: 20px;
					margin-bottom: 10px;	
				}
				@media screen and (max-width: 596px) {
					.email {
						width: 75%;
					}
				}
				.send{
					margin-top: 10px;
					width: 20%;
					display: block;
					margin: 0 auto;
					padding: 10px;
					text-decoration: none;
					cursor: pointer;
					border: none;
					border-radius: 3px;
					margin-bottom: 10px;
				}
				@media screen and (max-width: 596px) {
					.send {
						width: 40%;
					}
				}
				.send:hover{
					background-color: darkgray;
					color: black;
					font-weight: bold;
				}
				ul li {
					font-size: 16px;
					color: white;
					letter-spacing: 2px;
					line-height: 1.2;
					text-align: center;
					a {
						text-decoration: none;
						color: rgb(219, 131, 31);
						font-weight: bold;
						font-size: 21px;
						padding: 3px;
					}
					a:hover {
						background-color: beige;
					}		
				}
			}
		}
	}